.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

hr {
  margin-bottom: 3vmin;
  width: 80vw;
}

code {
  font-size: calc(5px + 2vmin);
  background-color: rgb(241, 241, 241);
  color: #12596d;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 1vmin;
}

.block-picker {
  margin: 15px auto;
}

.color-block {
  width: 170px;
  height: 70px; 
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px; 
  margin: 15px auto 20px;
}

.text-area {
  font-size: calc(8px + 2vmin);
}

.btn {
  font-size: calc(8px + 2vmin) !important;
  margin-left: 10px;
  cursor: pointer;
}

.pass-text {
  color: #3e8935;
}

.fail-text {
  color: #ae0519;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  cursor: pointer;
}


svg#colorBlindSVG {
  display: none
}
